streamlit
langchain
langchain-core
langchain-ollama
faiss-cpu
python-dotenv
langchain-groq
faiss-cpu
langchain-community
faiss-cpu
langchain
langchain-community
faiss-cpu
streamlit
python-dotenv
